.slide {
    width: 960px;
}

.customSwiper {
    width: 960px;
    margin: 0 auto;
    overflow: visible;
}

.customSwiper .swiper-wrapper {
    width: 1000%;
}

.customSwiper::before, .customSwiper::after {
    content: '';
    display: block;
    width: 1000%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.6);
    z-index: 10;
}

.customSwiper::before {
    left: -1000%;
}

.customSwiper::after {
    right: -1000%;
}

.customSwiper .swiper-button-prev:after, .customSwiper .swiper-button-next:after {
    font-size: 16px !important;
    font-weight: bold !important;
}