@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  font-family: Pretendard, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mainWidth {
  max-width: 960px;
  margin: 0 auto;
}

.customMargin {
  margin-bottom: 56px;
}

header {
  height: 72px;
  border-bottom: 1px solid rgb(238, 238, 238);
}